.checkout-container {
    width: 350px;
    background: local;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(red, green, blue, alpha);
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px auto;
}
.checkout-header h3 {
    margin: 0;
    color: blueviolet;
    font-size: xx-large;
    text-align: center;
}
.est-time {
    font-size: 13px;
    color: #666;
    margin-top: 5px;
    text-align: center;
}
.item-container {
    margin: 15px;
    font-size: 15px;
}
.item-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.extra-info label {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: bold;
}
.textarea {
    width: 100%;
    border: 1px solid;
    border-radius: 8px;
    resize: none;
    margin-bottom: 15px;
}
.promo-section {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}
.promo-section input {
    flex: 1;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
}
.promo section button {
    background: #333;
    color: white;
    border: none;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}
.bill-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: #555;
}
.grand-total {
    border-top: 2px dashed #eee;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.confirm-btn {
    width: 100%;
    background: blueviolet;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.confirm-btn:hover {
    background: blueviolet;
}
#tracking-section {
    display: block;
    margin-top: 20px;
    padding: 15px;
    background: #fdf2f8;
    border-radius: 10px;
    border: 1px solid blueviolet;
}
#status-text {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
    color: grey;
}
.progress-container {
    width: 100%;
    background: #ddd;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
}
#progress-bar {
    width: 10%;
    background: blueviolet;
    height: 10px;
    border-radius: 5px;
    transition: 1s;
}
.timer text {
    font-size: 12px;
    margin-top: 8px;
    color: #666;
}